/*Css de Index*/
.divIndex {
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 3em;
    width: 90vh;
    height: 80vh;
    background-color: rgb(0, 0, 0);
}
.imgUsuario {
    display: block;
    align-content: center;
    height: 50vh;    
    margin: 0 auto;
}
.nombre {
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}
.subtitulo {
    margin-top: 1em;
    text-align: center;
    color: #ffffff;
}
.iframe-horario {
    align-content: center;
    width: 80vh;
    height: 40vh;
    border: 0;
}
.btnHorario {
    width: 7vw;
    display: block;
    color: #ffffff;
    font-size: 1.8em;
    padding: 7px 15px;
    background-color: black;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
}